.form {
  &_container {
    background-image: url("assets/images/background-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $Neutral0;
    // height: 1132px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 7rem;

    @media (min-width: 430px) {
      display: flex;
      justify-content: center;
      // align-items: center;
      background-image: url("assets/images/background-desktop.png");
      background-size: cover;
      height: 100vh;
    }

    .bgline {
      background-image: url("assets/images/pattern-lines.svg");
      height: 55%;
      width: 100%;
      position: absolute;
      top: 0;
      background-repeat: no-repeat;
      z-index: 0;
    }
    .squigly_line {
      background-image: url("assets/images/pattern-squiggly-line-top.svg");
      background-repeat: no-repeat;
      position: absolute;
      background-size: contain;
      height: 100px;
      width: 100px;
      right: 0;
      top: 31px;

      @media (min-width: 430px) {
        height: 400px;
        width: 400px;
        top: 70px;
      }
    }

    .pattern {
      background-image: url("assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg");
      background-size: cover;
      position: absolute;
      height: 200px;
      width: 100%;
      top: 82%;
      background-size: 70%;
      background-repeat: no-repeat;

      @media (min-width: 430px) {
        background-image: url("assets/images/pattern-squiggly-line-bottom-desktop.svg");
        background-size: 57% 52%;
        position: absolute;
        left: 2px;
        top: 52%;
        height: 100%;
        width: 100%;
      }
    }

    .bgcircle {
      &_top {
        background-image: url("assets/images/pattern-circle.svg");
        background-repeat: no-repeat;
        background-size: 30%;
        width: 50%;
        height: 123px;
        position: absolute;
        z-index: -1;
        top: -22px;
        left: -19px;

        @media (min-width: 430px) {
          background-size: 82%;
          top: -67px;
          left: 95px;
          width: 14%;
          height: 167px;
        }
      }

      &_bottom {
        background-image: url("assets/images/pattern-circle.svg");
        background-repeat: no-repeat;
        background-size: 50%;
        width: 50%;
        height: 120px;
        position: absolute;
        right: -36%;
        top: 53%;

        @media (min-width: 430px) {
          background-size: 23%;
          right: -20%;
          top: 48%;
          height: 167px;
        }
      }
    }

    form {
      @media (min-width: 430px) {
        max-width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  &_ticket {
    background-image: url("assets/images/pattern-ticket.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 212px;
    display: flex;

    @media (min-width: 430px) {
      height: 100%;
      width: 100%;
      display: block;
    }

    &_details {
      padding-top: 1rem;
      margin-left: 2.5rem;

      img {
        @media (min-width: 430px) {
          width: 200px;
          height: 100px;
          object-fit: cover;
          border: 1px solid white;
        }
      }
    }

    &_user {
      margin-left: 2.5rem;
      display: flex;
      margin-top: 1rem;
      padding-left: 1.5rem;

      &:last-child {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 1rem;

        :last-child {
          color: yellow;
          // display: flex;

          div {
            margin-top: 0.5rem;
            display: flex;
            align-items: center;
            gap: 0.2rem;
          }
        }
      }

      .avatar {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 1rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: scale-down;
        }
      }
    }
    aside {
      transform: rotate(90deg);
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
      font-weight: 600;
      color: $Neutral500;
    }

    &_hidden {
      display: none;

      @media (min-width: 430px) {
        width: 100%;
        height: 50%;
      }
    }
  }

  &_hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: 430px) {
      display: block;
      // height: 25%;
    }

    &_logo {
      justify-self: center;
      margin-top: 2rem;
      margin-bottom: 2rem;

      @media (min-width: 430px) {
        margin-top: 3rem;
        margin-bottom: 0;
      }
    }
    &_title {
      text-align: center;
      width: 100%;
      font-size: 2rem;
      line-height: 1.1;
      justify-self: center;
      margin-top: 3rem;
      margin-bottom: 1.5rem;
      word-spacing: 2px;
      color: linear-gradient($Gradient);

      @media (min-width: 430px) {
        font-size: 4rem;
        word-spacing: -10px;
        line-height: 1.1;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &_Desc {
      font-size: 1.4rem;
      text-align: center;
      padding: 0 1rem;
      justify-self: center;
      margin-bottom: 3rem;
      line-height: 1.15;

      @media (min-width: 430px) {
        font-weight: 200;
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  }

  &_input {
    position: relative;
    z-index: 20;

    @media (min-width: 430px) {
      width: 70%;
    }

    // > div {
    //   margin-bottom: 2rem;
    // }

    > div {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .desc {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      padding-left: 0.5rem;

      @media (min-width: 430px) {
        font-size: 2rem;
      }
    }

    &_avatar {
      justify-self: start;
      width: 100%;
      position: relative;
      z-index: 20;

      &:hover {
        .dragdrop {
          background-color: $Neutral700;
          cursor: pointer;
        }
      }

      .dragdrop {
        // width: 100%;
        height: 146px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px dashed white;
        border-radius: 10px;
        background-color: $Neutral7002;

        input {
          // opacity: 1;
          width: 100%;
          height: 100%;
          position: absolute;
          // cursor: pointer;
          // height: 150px;
          opacity: 0;

          &:hover {
            cursor: pointer;
          }

          &:focus {
            border: 1px solid $Neutral300;
          }
        }

        label:first-of-type {
          border: 0.1px solid $Neutral500;
          padding: 0.5rem;
          border-radius: 10px;
          background: $Neutral500;
          margin-top: 1rem;
          max-width: 50px;
          max-height: 50px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }

        label:last-of-type {
          margin-top: 1rem;
          font-size: 1.2rem;
          color: $Neutral500;
          word-spacing: 5px;
          position: relative;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .changeremoveimg {
            font-size: 0.5rem;
            width: 130px;
            display: none;

            div {
              padding: 0.2rem;
              background-color: $Neutral700;
              display: inline;
            }
            a {
              text-decoration: none;
              color: $Neutral300;
            }

            a:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .warn {
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        color: $Neutral300;
        font-size: 0.8rem;
        word-spacing: 2px;
        // text-align: center;
      }
    }
  }

  &_name input,
  &_email input,
  &_githubUsername input {
    width: 390px;
    height: 60px;
    margin: 1.5rem 0.5rem;
    background: transparent;
    border: 1px solid $Neutral700;
    border-radius: 10px;
    outline: 0;
    padding-left: 1rem;
    color: $Neutral300;
    background-color: $Neutral7002;
    font-size: 1.3rem;
    font-family: "Inconsolata", monospace;
    cursor: pointer;

    &:hover {
      cursor: pointer;
      background-color: $Neutral700;
    }

    &:focus {
      outline: 1px solid $Neutral300;
    }

    @media (min-width: 430px) {
      width: 100%;
    }
  }

  &_btn {
    justify-self: center;
    width: 95%;
    height: 50px;

    button {
      background-color: $Orange500;
      width: 100%;
      height: 100%;
      text-align: center;
      font-family: "Inconsolata", monospace;
      font-size: 1.3rem;
      font-weight: 800;
      position: relative;
      z-index: 5;
      border: none;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
