//colors
$Neutral0: hsl(0, 0%, 100%);
$Neutral300: hsl(252, 6%, 83%);
$Neutral500: hsl(245, 15%, 58%);
$Neutral700: hsl(245, 19%, 35%);
$Neutral7002: hsla(245, 19%, 35%, 0.233);
$Neutral900: hsl(247, 69%, 10%);
$Orange500: hsl(7, 88%, 67%);
$Orange700: hsl(7, 71%, 60%);

//text color
$Gradient: hsl(7, 86%, 67%), hsl(0, 0%, 100%);
